.container {
  width: 85%;
  text-align: center;
  align-items: center;
  margin: auto;
  bottom: 100px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.img {
  width: 40%;
  margin-bottom: 1rem;
}

h3,
.more {
  color: var(--clr-white);
  line-height: 1.3em;
}
h1 {
  margin-bottom: 2rem;
  margin-top: 4rem;
}
.skills {
  padding: 4rem;
}

.btnshow {
  color: white;
  background-color: transparent;
  font-size: 1.5em;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 30px;
  border: 2px solid var(--clr-complement);
}
.btnshow:hover {
  color: white;
  background: var(--clr-complement);
}
@media screen and (min-width: 800px) {
  .container {
    width: 80%;
  }
  .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-align: center;
    align-items: center;
    margin: auto;
  }
  .descriptiontext {
    width: 60%;
  }
  .img {
    width: 30%;
  }
}
