.container {
  width: 85%;
  text-align: center;
  align-items: center;
  margin: auto;
  bottom: 100px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.img {
  width: 40%;
  margin-bottom: 1rem;
}
.img:hover,
.img:focus {
  transform: translate(-1em, -1em);
  transition: 300ms ease-out;
  box-shadow: 5px 10px var(--clr-complement);
}

/* effect onshowmoretext */
.fadeIn {
  animation: fadeInAnimation 1s;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h3,
.more {
  color: var(--clr-white);
}
h1 {
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.icon {
  fill: var(--clr-dark-complement);
  margin-right: 2px;
}
ul li {
  margin-bottom: 0.5rem;
}
.skills {
  padding: 4rem;
  text-align: center;
  align-items: center;
}

.btnshow {
  color: white;
  background-color: transparent;
  font-size: 1.5em;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 30px;
  border: 2px solid var(--clr-complement);
}
.btnshow:hover {
  color: white;
  background: var(--clr-complement);
}
@media screen and (min-width: 800px) {
  .container {
    width: 80%;
  }
  .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: auto;
  }
  .descriptiontext {
    width: 60%;
  }
  .img {
    width: 30%;
  }
}
