.container {
  width: 80%;
  text-align: center;
  align-items: center;
  margin: auto;
}
.icon {
  font-size: 1em;
  vertical-align: middle;
}

.email {
  padding: 1rem;
  border-radius: 30px;
  border: 2px solid var(--clr-dark-complement);
  vertical-align: middle;
}
