.container {
  width: 80%;
  text-align: center;
  align-items: center;
  margin: auto;
}
.icon {
  font-size: 1em;
}

.btn {
  display: inline-block;
  color: var(--clr-dark-complement);
  background: transparent;
  padding: 10px 16px;
  border-radius: 30px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.5rem;
}

.btn:hover {
  background: white;
}
